<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
    </ion-buttons>
    <ion-title><h5>Todos os pedidos</h5></ion-title>
    <a>{{registroDTO?.cliente?.name}} - id: {{registroDTO?.id}} </a>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p id="text-center">Ultimos Pedidos</p>
    <ion-list>
      <ion-item *ngFor="let ped of pedido">
        <ion-item >
          <ion-thumbnail slot="start" item-start>
              <img src="../../assets/icon/camera-outline.svg">
          </ion-thumbnail>
            <ion-label class="ion-text-wrap">
              <ion-text>
                <p id="p-user">{{ped.instante}}</p>
                <p>cod:{{ped.id}}</p>   
                <p id="p-user">{{ped.itens | json}}</p>
                <p id="p-user">{{ped.pagamento | json}}</p>
                <p id="p-user">{{ped.enderecoDeEntrega | json}}</p>
              </ion-text>
            </ion-label>
        </ion-item>
      </ion-item>
    </ion-list>
</ion-content>
<!-- Fade Footer -->
<ion-footer collapse="fade">
  <ion-toolbar>
    <a>@BelaRosa 2022 - Possui direitos reservados</a>
  </ion-toolbar>
</ion-footer>
