<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="atualizarCatalago()">Atualizar Catalago</ion-item>
      <ion-item (click)="meusProdutos()">Meus Produtos</ion-item>
      <ion-item (click)="meusClientes()">Meus Clientes</ion-item>
      <ion-item (click)="meusPedidos()">Meus Pedidos</ion-item>
      <ion-item (click)="pedidosPendentes()">Pedidos Pendentes</ion-item>
      <ion-item (click)="configuracoes()">Configurações</ion-item>
      <ion-item (click)="logout()">Sair da conta</ion-item>     
      </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Titulo da pagina</ion-title>
    </ion-toolbar>
  </ion-header>
    <div id="container">
      <strong class="capitalize">conteudo aqui</strong>
      <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    </div>
  </ion-content>