#container {
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
   transform: translateY(-50%);
  }

#text-center {
  text-align: center;
  left: 0;
  right: 0;
}
#p-user {
    color: rgb(115, 96, 226);
    text-decoration-color: aqua;
}

#ion-icon {
  color: rgb(115, 96, 226);
  width: 50px;
  height: 50px;
  margin-top: 3%;
}

.top-item {
  margin-top: auto;
}

#container-no-cart{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}

.ion-text-center {
  text-align: center; 
  left: 100px;
  right: 100px;
  position: absolute;
}

img {
  width: 60px;
  height: 60px;
}

ion-footer {
    text-align: center;
    left: 0;
    right: 0;
  }


  