<ion-router-outlet id="main"></ion-router-outlet>
<ion-header id="container-header">
  <ion-toolbar>
    <br>
    <br>
      <div>
        <ion-note>Bela Rosa - Clientes</ion-note >  
      </div>
    <ion-searchbar (ionInput)="onInputFindPage($event)"  placeholder="buscar clientes ? "></ion-searchbar>
  </ion-toolbar>
    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <br>
        <a>Arraste para baixo para atualiar.</a>
        <br>
        <ion-icon id="ion-icon-refresher" name="arrow-down-outline"></ion-icon>
        <ion-refresher-content refreshingSpinner="circular"></ion-refresher-content>
      </ion-refresher>
    </ion-content>

</ion-header> 

<ion-content id="container">
  <div>
    <ion-list>
      <ion-item *ngFor="let item of clientes" (click)="clienteDetails(item.id)">
        <ion-thumbnail slot="start" item-start>
          <img src="../../assets/icon/camera-outline.svg">
        </ion-thumbnail>
        <strong>{{item.id}}</strong>
        <p class="ion-text-center">{{item.name}}</p>
      </ion-item>
    </ion-list>  
  </div>
</ion-content>

<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
      <ion-toolbar color="light">
        <br>
        <ion-title>Bela Rosa</ion-title>
        <br>
        <a>{{registroDTO?.cliente?.name}}</a>
        <br>
        <a>{{registroDTO?.email}}</a>
      </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="atualizarCatalago()"><ion-icon slot="start" name="text-outline"></ion-icon><ion-label> Atualizar Catalago </ion-label></ion-item>
      <ion-item (click)="meusProdutos()"><ion-icon slot="start" name="storefront-outline"></ion-icon> <ion-label>Meus Produtos</ion-label></ion-item>
      <ion-item (click)="meusClientes()"><ion-icon slot="start" name="people-outline"></ion-icon><ion-label>Meus Clientes</ion-label></ion-item>
      <ion-item (click)="meusPedidos()"><ion-icon slot="start" name="book-outline"></ion-icon><ion-label>Meus Pedidos</ion-label></ion-item>
      <ion-item (click)="pedidosPendentes()"><ion-icon slot="start" name="cart-outline"></ion-icon><ion-label>Pedidos Pendentes</ion-label></ion-item>
      <ion-item (click)="configuracoes()"><ion-icon slot="start" name="settings-outline"></ion-icon><ion-label>Configurações</ion-label></ion-item>
      <ion-item (click)="logout()"><ion-icon slot="start" name="log-out-outline"></ion-icon><ion-label>Sair da conta</ion-label></ion-item>     
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Fade Footer -->
<ion-footer collapse="fade">
  <ion-toolbar>
    <a>@BelaRosa 2022 - Possui direitos reservados</a>
  </ion-toolbar>
</ion-footer>
