#container-header {
  text-align: center;
  left: 0;
  right: 0;
  top: 1%;
// transform: translateY(-50%);
}

#container {
    text-align: center;
    left: 0;
    right: 0;
    top: 51%;
   transform: translateY(-50%);
  }

  ion-note {
    display: inline-block;
    font-size: 17px;
    color: var(--ion-color-medium-shade);
  }

  #ion-icon-refresher {
    height: 30px;
    width: 30px;
    
  }

  ion-footer {
    text-align: center;
    left: 0;
    right: 0;
  }
  